/* You will not need to update any code in this section. */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #eee4db; }

.bg-dark-blue {
  background-color: #272635 !important; }

#closeModal {
  color: #bc9a2b; }

a {
  text-decoration: none; }
  a:focus {
    outline: none; }

.fa-google {
  color: white; }

.secondary-text {
  color: #f5bd07; }

.darkBlue-text {
  color: #272635; }

#main-nav ul li a {
  color: white;
  text-transform: uppercase;
  font-weight: 400; }

#other-nav ul li a {
  color: white;
  text-transform: uppercase;
  font-weight: 400; }

.navbar-toggler {
  border: none;
  outline: none !important; }

.custom-toggler .navbar-toggler {
  border: black; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

#showcase {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Snowy mountain range.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */ }

.customBtn, .customBtn:link, .customBtn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  border: none;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease; }

.customBtn--dark-blue {
  background-color: #272635;
  color: white;
  transition: all .3s ease-in-out; }
  .customBtn--dark-blue:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: white; }

.customBtn--white {
  background-color: white;
  color: #272635; }
  .customBtn--white:hover {
    color: black;
    transform: none; }

.welcome {
  padding: 100px 0; }

.welcome .container {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  background: url("../img/Eagle Star Properties.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }

.welcome .content {
  background: #272635;
  color: white;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  padding: 20px 30px;
  height: 100%;
  overflow: hidden; }
  .welcome .content .pTextWrapper--1 {
    width: 85%; }
  .welcome .content .pTextWrapper--2 {
    width: 75%; }

.welcomeText {
  text-align: left; }

@media screen and (max-width: 767px) {
  .welcome .content {
    clip-path: none;
    text-align: center; }
    .welcome .content .pTextWrapper--1 {
      width: 100%; }
    .welcome .content .pTextWrapper--2 {
      width: 100%; } }

#ammenities {
  padding: 100px 10px;
  background-color: #eec296; }

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background-color: #e8e9f3; }

.site-footer {
  padding: 50px 0;
  background: #272635; }
  .site-footer .container .row .col-md a {
    text-transform: uppercase;
    color: white;
    padding: 0.6rem;
    transition: all 0.2s ease-in-out;
    text-decoration: none; }
    .site-footer .container .row .col-md a:hover {
      transform: translateY(-3px); }

#landingContactForm {
  background: #272635;
  color: white; }

#google-maps {
  background: black; }

.landingContact {
  padding: 100px 0; }

.border-bottom {
  border-bottom: 1px solid white; }

.border-right {
  border-right: 1px solid white; }

#contactPage {
  padding: 100px 0;
  background: #eec296;
  color: black; }

#contactPageForm {
  background: #272635;
  color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); }

.applicationLogin {
  background: #eec296;
  padding: 100px 0; }

#applicationLoginForm {
  background: #272635;
  color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); }
  #applicationLoginForm a {
    color: #f5bd07;
    text-decoration: none; }

.applicationImg {
  background: url("../img/More Snowy mountain range.jpg");
  background-attachment: scroll;
  background-position: 50% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  border-bottom: 3px solid #272635; }

.benefits {
  margin-left: 10px;
  list-style: none;
  font-weight: 700; }

.benefits-text {
  font-weight: 700; }

.benefit-list {
  padding: 10px 0; }
