$color-black: black;
$default-font-size: 1rem;
$color-white: white;
$color-secondary: #f5bd07;
$color-dark-blue: #272635;
$color-light-blue: #e0f4fa;
$padding-100: 6rem 0;
$padding-50: 3rem;
$color-sun: #eec296;
