.headerImg {
  background: url('../img/More\ Snowy\ mountain\ range.jpg');
  background-attachment: scroll;
  background-position: 50% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  border-bottom: 3px solid $color-dark-blue;
}
