.customBtn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    border: none;
    box-shadow: 0 0.5rem 1.2rem rgba($color-black, 0.2);
    transition: all 0.2s ease;
  }

  &--dark-blue {
    background-color: #272635;
    color: $color-white;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      color: $color-dark-blue;
      background-color: $color-secondary;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-dark-blue;

    &:hover {
      color: $color-dark-blue;
      transform: none;
      background-color: $color-secondary;
    }
  }
}
