.list-group {
  width: 250px;

  a {
    padding: 15px 30px;
    display: block;
    color: rgba(255, 255, 255, 0.6);

    &:hover {
      background-color: $color-secondary !important;
      color: $color-black !important;
    }
  }

  .sidebar-heading {
    padding: 1rem 1.5rem;
  }
}

/* The sidebar menu */
.site-wrapper__nav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 9997; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $color-dark-blue;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0;

  &--logo {
    height: 70px;
  }
}
