body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eee4db;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}
