.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
}

.pTextWrapper {
  &--1 {
    width: 85%;
  }

  &--2 {
    width: 75%;
  }
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

.border-bottom {
  border-bottom: 1px solid $color-white;
}

.border-right {
  border-right: 1px solid $color-white;
}

.bg-dark-blue {
  background-color: $color-dark-blue !important;
}

.bg-grey {
  background-color: #e8e9f3;
}

.background-white {
  background: $color-white;
  padding: 2rem;
}
