// Contact.html

#contactPage {
  padding: $padding-100;
  background: #eec296;
  color: $color-black;
}

#contactPageForm {
  background: $color-dark-blue;
  color: $color-white;
  box-shadow: 0 20px 40px rgba($color-black, 0.4);
}
