@media screen and (max-width: 1198px) {
  #paymentCard {
    margin-top: 1rem;
    padding: 1rem;
  }

  .col-xl-4 {
    padding: 0;
  }

  #late-fee-card {
    margin-top: 1rem;
    padding: 0;
  }
}
